body, a, a:hover {
    text-decoration: none;
}

a.custom-color {
    color: #26a1d0;
}

.payment-header {}

.payment-body, .payment-container {
    margin-top: 4%;
}

.payment-body {}

.wallet-container {
    /*background-image: url('../images/dashboard/top-background.png');*/
    padding: 20px 15px;
    background-size: cover;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    border-bottom: 1px solid #ebebeb;
    margin-top: -90px;
    padding-bottom: 3px;
}

.wallet-container .row:first-child {
    font-size: 16.5pt;
    margin-bottom: 5px;
    word-break: break-all;
}

.wallet-container .row:last-child {
    color: #ffffff;
}

.wallet-tool-container {
    text-align: center;
    background: white;
    padding-top: 10px;
    padding-bottom: 15px;
    -moz-box-shadow: 0px 7px 11px #ededed;
    -webkit-box-shadow: 0px 7px 11px #ededed;
    box-shadow: 0px 7px 11px #ededed;
    border-radius: 0 0 5px 5px;
}

.tool-icon {
    margin: 0 auto 10px auto;
    height: 52px;
}

.tool-icon>img {
    height: 100%;
}

span.tool-text {
    font-weight: 600;
}

@media screen and (max-width: 320px) {
    .custom-tool-icon {
        margin-left: -12px;
    }

    * {
        font-weight: 400 !important;
    }
}

.notification-container {
    margin-top: 20px;
    border-radius: 5px;
    overflow: hidden;
}

.notification-header {
    background-color: #fffeb5;
    padding: 16px;
    display: table;
    width: 100%;
}

.notification-body {
    padding: 10px 0 10px 0;
    background-color: white;
}

.notification-header-title, .notification-header-title>a {
    color: #f28109;
}

.notification-header>div {
    display: table-cell;
    vertical-align: middle;
    width: 30px;
}

div.notification-header-title {
    width: 90%;
    padding: 0 15px;
}

.notification-header>div>img {
    width: 30px;
}

.notification-header-right-icon {
    width: 10px;
}

div.notification-header-right-icon>a>i {
    font-size: 15pt !important;
    color: #f3911f !important;
}

.shadow {
    -moz-box-shadow: 0 0px 10px 6px #ededed;
    -webkit-box-shadow: 0 0px 10px 6px #ededed;
    box-shadow: 0 0px 10px 6px #ededed;
}

.notification-content {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 10px 12px 16px;
}

.notification-content>a:hover {
    color: #337ab7;
    text-decoration: underline;
}

.no-border {
    border: none;
}

#load-more-notification {
    margin-left: 16px;
    color: #56b0d6;
}

.function-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.function-container a {
    text-align: center;
    width: calc(100% / 3 - 8px);
    display: inline-block;
    margin-right: 12px;
    border-radius: 5px;
    padding: 15px 8px 0 12px;
    margin-top: 20px;
    background-color: white;
}

.function-button img {
    width: 40%;
    margin-bottom: 15px;
}

.function-button p {
    font-size: 9pt;
    font-weight: 600;
}

.function-button-no-margin {
    margin-right: 0 !important;
}

.other-function-content {
    background: white;
    padding: 20px 15px;
    border-radius: 5px;
    margin-top: 20px;
    display: table;
    width: 100%;
}

.other-function-content-data {
    background: white;
    padding: 20px 20px 25px 20px;
    border-radius: 5px;
    margin-top: 20px;
}

.other-function-content img {
    width: 70px;
    display: table-cell;
}

.other-function-content .content-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 11.25pt;
    width: 80%;
    padding-left: 10px;
    color: #656565;
}

.list-data-content {
    margin-bottom: 10px;
    margin-top: 10px;
}

.list-data-content .img-block>img {
    width: 100%;
}

.list-data-content>img {
    margin-right: 12px;
}

.list-data-content .img-block {
    margin-right: 12px;
    display: inline-block;
    width: 50px;
    border: 1px solid #e1e1e1;
}

.list-data h3 {
    margin-top: 0;
}

.list-data h2, .list-data h3 {
    color: #6b6b6b;
}

.other-function-content-footer {
    padding-top: 20px;
}

.other-function-content-footer ul {
    padding-left: 0;
    list-style: none;
}

.other-function-content-footer ul li:not(:first-child)::before {
    content: "\2022";
    color: #d7d7d7;
    display: inline-block;
    margin: 0 10px;
}

.other-function-content-footer ul li {
    float: left;
}

#order-text {
    font-size: 10.5pt;
}

.box-blue {
    background: #cca44d;
    background-repeat: no-repeat, repeat;
    background-size: cover;
    height: 80px;
    margin: -15px;
    margin-top: 30px;
}

@media screen and (max-width: 349px) {
    .other-function-content-footer ul li:not(:first-child)::before {
        margin: 0 9px;
    }
}

@media screen and (max-width: 344px) {
    .other-function-content-footer ul li:not(:first-child)::before {
        margin: 0 8px;
    }
}

@media screen and (max-width: 340px) {
    .other-function-content-footer ul li:not(:first-child)::before {
        margin: 0 7px;
    }
}

@media screen and (max-width: 336px) {
    .other-function-content-footer ul li:not(:first-child)::before {
        margin: 0 6px;
    }
}

@media screen and (max-width: 332px) {
    .other-function-content-footer ul li:not(:first-child)::before {
        margin: 0 5px;
    }
}

@media screen and (max-width: 328px) {
    .other-function-content-footer>ul>li>a {
        font-size: 9.5pt
    }
}

.color-gray {
    color: #888888;
}

.green {
    color: #2aad55 !important;
}

.blue {
    color: #337ede !important;
}

.div-readmore-notificaiton {
    padding-top: 10px;
}

.txn {
    border-bottom: 1px solid #e1e1e1;
}

.order-left-content {
    padding-left: 0;
}

.head-block {
    width: calc(100% + 30px);
    margin-left: -15px;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 15px;
    background-color: #f6f6f6;
    padding: 10px 15px;
}

.function-container .function-container__row {
    margin-top: 10px;
}

.title {
    color: white;
    font-size: 16px;
    text-align: center;
}

.pdt10 {
    padding-top: 10px;
}

.pdt20 {
    padding-top: 20px;
}

.pdbt20 {
    padding-bottom: 20px;
}

.mgt10 {
    margin-top: 10px;
}

.title_conten {
    padding-top: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family: "Roboto";
    border-bottom: 1px solid #d7d7d7;
    padding-bottom: 10px;
    color: #334468;
}

.lk_title {
    padding: 10px 0px;
    color: #686868;
    font-weight: bold;
}

/*logo bank nap tien*/
.card-bank {
    background-image: url(../img_bkim/bg-withdraw-card.png);
    padding: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    background-size: 100% 100%;
    min-height: 95px;
}

.card-bank__active {
    background-image: url(../img_bkim/bg-withdraw-card-active.png);
    padding: 15px;
    background-size: 100% 100%;
    color: #fff;
}

.bank_logo {
    width: 100%;
}

.bank-number {
    font-size: 13px;
    font-weight: 600;
    float: right;
    width: 100%;
    margin-bottom: 10px;
}

.bank-name {
    font-size: 13px;
    font-weight: 600;
    width: 100%;
}

.max-width {
    max-width: 69px;
}

.box-title__icon {
    width: 22px;
    position: absolute;
}

/* Verify */
.width100 {
    width: 100%;
}

.withdraw-verify {
    background: #f6f6f6;
    padding: 15px 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.withdraw-verify__box {
    border-bottom: 1px solid #e2e6e8;
    padding: 12px;
}

.withdraw-verify__button {
    padding-top: 20px;
    padding-bottom: 13px;
}

.withdraw-title {
    color: #454545;
    font-size: 22px;
    padding-top: 10px;
    padding-bottom: 20px;
}

/* Success */
.withdraw-success__title {
    padding: 40px 0;
}

.withdraw-success__title img {
    width: 78px;
    margin-bottom: 20px;
}

.withdraw-success__title h2 {
    color: #454545;
    font-size: 18px;
    font-weight: 400;
}

.withdraw-hide__border {
    border: none !important;
}

.btn_redict a {
    width: 47%;
    float: left;
    margin-left: 10px;
}

.btn_redict .success_btn {
    margin-bottom: 13px;
    background: #2ab354;
    font-size: 15px;
    color: #fff;
    padding: 15px;
}

.cancel_btn {
    border: 1px solid #d7d7d7;
    padding: 15px;
    color: #717171;
}

.widthdraw-submit {
    width: 100%;
    margin-bottom: 13px;
    background: #2ab354;
    font-size: 15px;
    color: #fff;
    padding: 15px;
}

.list_bank__ {
    width: 25%;
    float: left;
    padding-right: 30px;
}



/*/!*input pass*!/*/
/*input[type="password"] {*/
/*box-sizing: border-box;*/
/*width: 100%;*/
/*height: calc(3em + 2px);*/
/*margin: 0 0 1em;*/
/*padding: 6px;*/
/*padding-left: 12px;*/
/*border: 0.5px solid #bababa;*/
/*border-radius: 3px;*/
/*background: #fff;*/
/*font-size: 16px;*/
/*resize: none;*/
/*outline: none;*/
/*}*/
/*input[type="password"]:focus {*/
/*border-color: #bababa;*/
/*}*/
/*input[type="password"]:focus + label[placeholder]:before {*/
/*color: #7d7d7d;*/
/*}*/
/*input[type="password"]:focus + label[placeholder]:before,*/
/*input[type="password"]:valid + label[placeholder]:before {*/
/*transition-duration: .2s;*/
/*transform: translate(0, -1.6em) scale(0.9, 0.9);*/
/*/!*font-weight: bold;*!/*/
/*}*/
/*input[type="password"]:valid {*/
/*border-color: #bababa;*/
/*}*/
/*input[type="password"]:valid + label[placeholder]:before {*/
/*color: #7d7d7d;*/
/*}*/
/*input[type="password"]:invalid + label[placeholder][alt]:before {*/
/*content: attr(alt);*/
/*}*/
/*input[type="password"] + label[placeholder] {*/
/*display: block;*/
/*pointer-events: none;*/
/*line-height: 1.25em;*/
/*margin-top: calc(-3em - 9px);*/
/*margin-bottom: calc((3em - 1em) + 2px);*/
/*font-weight: 400;*/
/*}*/
/*input[type="password"] + label[placeholder]:before {*/
/*content: attr(placeholder);*/
/*display: inline-block;*/
/*margin: 0 calc(0.5em + 2px);*/
/*padding: 0 2px;*/
/*color: #7d7d7d;*/
/*white-space: nowrap;*/
/*transition: 0.3s ease-in-out;*/
/*background-image: linear-gradient(to bottom, #ffffff, #ffffff);*/
/*background-size: 100% 5px;*/
/*background-repeat: no-repeat;*/
/*background-position: center;*/
/*}*/


.submit_btn_setting {
    position: absolute;
    top: 208px;
}

.btn_create_pw {
    top: 65px;
    position: absolute;
}

.ic_store_app {
    width: 76%;
    margin: 0 auto;
}

.body_g2fa {
    display: flex;
    justify-content: center;
}

.btn_next, .btn_next:hover, .btn_next:focus {
    background-color: #2ab354;
    color: white;
    padding: 15px 0px;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    margin: 20px 0px;
    border-radius: 5px;
}

/*neo nut bottom*/
.main_df_bt {
    position: relative;
}

/*.btn_smit__{*/
/*position: absolute;*/
/*bottom: 10px;*/
/*width: 100%;*/
/*}*/
.btn_smit__ {
    position: absolute;
    bottom: 20px;
    width: 95%;
}

.order-box__hide {
    display: none;
}

.error {
    color: red;
    font-weight: normal;
    padding-bottom: 0px !important;
}

/*css sen-otp*/
.countdown {
    background-color: #606061;
    padding-top: 15px;
    height: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 14px;
}

.bg_df {
    background-color: #dddddd;
    font-size: 14px;
    padding: 14px;
}

.div-btn-otp {
    padding-right: 0;
}

.div-btn-otp>a {
    width: 100%;
}

.send-otp {
    line-height: 35px;
    font-size: 12px;
}

#send-otp:hover {
    text-decoration: none;
}

#notify-otp {
    color: #454545;
    font-size: 16px;
    font-weight: 500;
}

.box-shadow {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.header-info {
    background: #fff;
    border-radius: 8px;
    padding: 15px;
}

.header {
    height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

@media only screen and (min-width:768px) {
    .header {
        height: 60px;
    }
}

.main-box-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.bg-white {
    background: #ffffff;
}

.nav-bottom {
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    z-index: 1;
    bottom: 0;
    left: 0;
    width: 100%;
}

.nav-bottom .link-nav-bottom {
    width: 100%;
}

.item-nav-bottom {
    width: 33.33%;
    padding: 4px 0;
    margin: 4px 1px;
    color: #fff;
}

@media only screen and (min-width:480px) {
    .item-nav-bottom {
        padding: 6px 0;
        margin: 6px 1px;
        color: #fff;
    }
}

@media only screen and (min-width:600px) {
    .item-nav-bottom {
        padding: 10px 0;
        margin: 10px 1px;
    }
}

.item-nav-bottom .icon-nav-bottom {
    background: #ff753a;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

@media only screen and (min-width:480px) {
    .item-nav-bottom .icon-nav-bottom {
        width: 30px;
        height: 30px;
    }
}

.item-nav-bottom .icon-nav-bottom span {
    font-size: 20px;
}

@media only screen and (min-width:480px) {
    .item-nav-bottom .icon-nav-bottom span {
        font-size: 24px;
    }
}

.item-nav-bottom.active,
.item-nav-bottom:hover {
    background: #eeeeee;
    border-radius: 8px;
}

.item-nav-bottom.active .icon-nav-bottom,
.item-nav-bottom:hover .icon-nav-bottom {
    background: #ff753a;
}

.item-nav-bottom.active .txt-nav-bottom,
.item-nav-bottom:hover .txt-nav-bottom {
    color: #ff753a;
}

.item-nav-bottom .txt-nav-bottom {
    color: #B7B7B7;
    font-size: 10px;
    margin-top: 3px;
    text-align: center;
}

@media only screen and (min-width:280px) {
    .item-nav-bottom .txt-nav-bottom {
        font-size: 8px;
    }
}

@media only screen and (min-width:320px) {
    .item-nav-bottom .txt-nav-bottom {
        font-size: 10px;
    }
}

@media only screen and (min-width:360px) {
    .item-nav-bottom .txt-nav-bottom {
        font-size: 11px;
    }
}

@media only screen and (min-width:420px) {
    .item-nav-bottom .txt-nav-bottom {
        font-size: 13px;
    }
}

@media only screen and (min-width:480px) {
    .item-nav-bottom .txt-nav-bottom {
        font-size: 15px;
    }
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.f-d-column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.m-auto {
    margin-left: auto;
    margin-right: auto;
}

.box-title-head {
    margin-left: 10px;
}

@media only screen and (min-width:768px) {
    .box-title-head {
        margin-left: 15px;
    }
}

.box-title-head .title-head-page {
    font-size: 20px;
    color: #ff753a;
}

@media only screen and (min-width:768px) {
    .box-title-head .title-head-page {
        font-size: 22px;
    }
}

.box-title-head .logo img {
    width: 120px;
}

@media only screen and (min-width:768px) {
    .box-title-head .logo img {
        width: 160px;
    }
}

.f-left {
    float: left;
}