@font-face {
    font-family: 'utm_cafetaregular';
    src: url('./../fonts/Oswald-VariableFont_wght.ttf');

}

*{
    font-family: 'utm_cafetaregular';
    font-weight: normal;
    font-size: 17px;
}