* {
    transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
    -o-transition-duration: .2s
}

body {
    font-family: roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #eef0f0;
    line-height: 30px;
    text-align: center;
    background: #eef0f0
}

.dxcaTextBoxLabel_Metropolis {
    color: #807171
}

.modal-open {
    color: #000 !important
}

strong {
    font-weight: 500
}

a, a:hover, a:focus {
    color: #4aaf51;
    text-decoration: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}

.form-qmk {
    padding: 30px 30px 35px;
    height: 500px;
    background: #fff;
    text-align: left;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3);
    box-shadow: 0 2px 2px rgba(0,0,0,.3)
}

.place {
    border: 5px solid #fff;
    height: 220px;
    background: #ebebeb
}

.text-qmk {
    text-align: center;
    display: block;
    color: #5c5c5c !important;
    cursor: pointer
}

.place img {
    margin: 24px 0 12px
}

.place:hover {
    background: #d6d6d6
}

.buoc1 {
    text-align: left;
    font-size: 25px;
    color: #3e3e3e
}

.line {
    border-bottom: 1px dashed #a5a5a5;
    display: block
}

.soantin {
    text-align: left;
    color: #383839;
    padding-top: 5px;
    margin-left: 20px
}

    .soantin span {
        color: #eb0000;
        font-weight: 500
    }

@media(max-width:991px) {
    .form-qmk {
        padding: 0;
        height: 450px
    }
}

.top-content .text h1 {
    margin-top: 10px;
    font-size: 17px;
    font-weight: 300;
    color: #666
}

h3 {
    font-size: 22px;
    font-weight: 300;
    color: #555;
    line-height: 30px
}

img {
    max-width: 100%
}

::-moz-selection {
    background: #4aaf51;
    color: #fff;
    text-shadow: none
}

::selection {
    background: #4aaf51;
    color: #fff;
    text-shadow: none
}

.btn-link-1 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 16px 20px 0;
    background: #4aaf51;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

    .btn-link-1:hover, .btn-link-1:focus, .btn-link-1:active {
        outline: 0;
        opacity: .6;
        color: #fff
    }

    .btn-link-1.btn-link-1-facebook {
        background: #4862a3
    }

    .btn-link-1.btn-link-1-twitter {
        background: #55acee
    }

    .btn-link-1.btn-link-1-google-plus {
        background: #dd4b39
    }

    .btn-link-1 i {
        padding-right: 5px;
        vertical-align: middle;
        font-size: 20px;
        line-height: 20px
    }

.btn-link-2 {
    display: inline-block;
    height: 50px;
    margin: 5px;
    padding: 15px 20px 0;
    background: rgba(0,0,0,.3);
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 16px;
    color: #fff;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px
}

    .btn-link-2:hover, .btn-link-2:focus, .btn-link-2:active, .btn-link-2:active:focus {
        outline: 0;
        opacity: .6;
        background: rgba(0,0,0,.3);
        color: #fff
    }

.bg-dieukhoan {
    border: 1px solid #d0d2cf;
    background: #fff;
    margin-top: 20px
}

.nav-dieukhoan {
    border-bottom: 3px solid #c03100 !important
}

    .nav-dieukhoan > li > a {
        line-height: 2 !important;
        border: 0 !important;
        border-radius: 0 !important;
        color: #000
    }

    .nav-dieukhoan > li.active > a, .nav-dieukhoan > li.active > a:hover, .nav-dieukhoan > li.active > a:focus {
        color: #c03100 !important;
        font-weight: 400 !important;
        background: 0 0 !important;
        margin-right: 0 !important
    }

.dieukhoansudung {
    padding: 30px
}

    .dieukhoansudung h2 {
        color: #c03100;
        font-size: 17px !important;
        text-align: left
    }

    .dieukhoansudung p {
        color: #000;
        text-align: left;
        font-size: 15px
    }

    .dieukhoansudung b {
        font-weight: 400
    }

@media(max-width:991px) {
    .top-content .text h1 {
        font-size: 19px
    }

    .nav-dieukhoan > li > a {
        padding: 9px !important;
        font-size: 14px
    }
}

.inner-bg {
}

.top-content .text {
    color: #fff
}

.top-content .description {
    margin: 20px 0 10px
}

    .top-content .description p {
        opacity: .8
    }

    .top-content .description a {
        color: #fff
    }

        .top-content .description a:hover, .top-content .description a:focus {
            border-bottom: 1px dotted #fff
        }

.form-box {
    margin-top: 20px
}

.form-bottom {
    padding: 30px 30px 35px;
    background: #fff;
    text-align: left;
    -webkit-box-shadow: 0 2px 2px rgba(0,0,0,.3);
    box-shadow: 0 2px 2px rgba(0,0,0,.3)
}

    .form-bottom form textarea {
        height: 100px
    }

    .form-bottom form button.btn {
        width: 100%
    }

    .form-bottom form .input-error {
        border-color: #4aaf51
    }

.social-login {
    margin-top: 35px
}

    .social-login h3 {
        color: #fff
    }

.social-login-buttons {
    margin-top: 25px
}

.navbar-brand {
    padding: 0
}

    .navbar-brand > img {
        width: 100%;
        padding-top: 0px
    }

.example2 .navbar-brand > img {
    padding: 7px 15px
}

.example3 .navbar-brand {
    height: 80px
}

.example3 .nav > li > a {
    padding-top: 30px;
    padding-bottom: 30px
}

.example3 .navbar-toggle {
    padding: 10px;
    margin: 25px 15px 25px 0
}

.example4 .navbar-brand > img {
    padding: 7px 14px
}

.example5 .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

    .example5 .navbar-brand > img {
        padding: 7px 14px
    }

.example6 .navbar-brand {
    background: url() center/contain no-repeat;
    width: 200px
}

.form-group select {
    height: 45px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    font-family: roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    border-radius: 0 !important;
    width: 100%
}

input[type=text], input[type=password], textarea, textarea.form-control {
    height: 45px;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
    background: #fff;
    font-family: roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #888;
    -moz-border-radius: 4px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
    border-radius: 0 !important
}

    textarea, textarea.form-control {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 30px
    }

        .form-group select:focus, input[type=text]:focus, input[type=password]:focus, textarea:focus, textarea.form-control:focus {
            outline: 0;
            background: #fff;
            border: 3px solid #ccc;
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none
        }

        input[type=text]:-moz-placeholder, input[type=password]:-moz-placeholder, textarea:-moz-placeholder, textarea.form-control:-moz-placeholder {
            color: #888
        }

        input[type=text]:-ms-input-placeholder, input[type=password]:-ms-input-placeholder, textarea:-ms-input-placeholder, textarea.form-control:-ms-input-placeholder {
            color: #888
        }

        input[type=text]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder, textarea::-webkit-input-placeholder, textarea.form-control::-webkit-input-placeholder {
            color: #888
        }

.submit {
    height: 50px;
    margin: 0;
    width: 100%;
    padding: 0 20px;
    vertical-align: middle;
    background: #e33a00;
    border: 0;
    font-family: roboto,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    border-radius: 0 !important;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s
}

button.btn:hover {
    opacity: .6;
    color: #fff
}

button.btn:active {
    outline: 0;
    opacity: .6;
    color: #fff;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none
}

button.btn:focus {
    outline: 0;
    opacity: .6;
    background: #4aaf51;
    color: #fff
}

button.btn:active:focus, button.btn.active:focus {
    outline: 0;
    opacity: .6;
    background: #4aaf51;
    color: #fff
}

#success_message {
    display: none
}

.help-block {
    float: left
}

.rep_capcha input {
    width: 180px !important;
    height: 60px !important;
    border: 1px solid #bebebe !important;
    padding: 10px 4px !important;
    font-size: 30px !important;
    text-align: center !important;
    color: red;
    float: left
}

    .rep_capcha input::-webkit-input-placeholder {
        color: red
    }

    .rep_capcha input:-ms-input-placeholder {
        color: red
    }

    .rep_capcha input::-moz-placeholder {
        color: red;
        opacity: .7
    }

    .rep_capcha input:-moz-placeholder {
        color: red;
        opacity: .7
    }

.capcha {
    width: 162px;
    height: 62px;
    float: left;
    margin-left: 10px
}

.qmk_ntk {
    display: block;
    width: 100%;
    margin: 5px 0 15px
}

.qmk {
    float: left;
    color: #0091d0;
    font-size: 14px
}

.ntk {
    float: right;
    height: 15px
}

    .ntk label {
        color: #666;
        vertical-align: top;
        font-size: 14px;
        font-weight: 400 !important
    }

    .ntk input {
        margin: 2px 0 0 5px
    }

.link-dk {
    display: block;
    text-align: center;
    margin: 20px 0 5px;
    font-size: 16px
}

    .link-dk a {
        color: #0091d0
    }

        .link-dk a:hover {
            color: #4aaf51
        }

.dk-fb {
    display: block;
    width: 100%;
    text-align: center
}

    .dk-fb a {
        display: inline;
        margin: 0 3px
    }

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important
}

img {
    max-width: 100%;
    height: auto;
    -webkit-backface-visibility: hidden
}

.bg-dark-blue {
    background: #2c353f
}

.padding-60px-tb {
    padding-top: 60px !important;
    padding-bottom: 60px !important
}

.text-white {
    color: #fff
}

.text-medium {
    font-size: 14px;
    line-height: 24px
}

footer .social-icon a {
    margin-right: 10px
}

    footer .social-icon a:nth-last-child(1) {
        margin-right: 0
    }

.social-icon .fa {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    width: 36px;
    height: 36px !important;
    font-size: 14px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    color: #fff
}

footer .social-icon a i {
    height: 36px;
    width: 36px;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    display: block
}

.facebook {
    background: url(../img/facebook.png) no-repeat
}

.youtube {
    background: url(../img/youtube.png) no-repeat
}

    .youtube:hover, .facebook:hover {
        opacity: .8
    }

@media only screen and (max-width:768px) {
    .example-8 .navbar-brand {
        padding: 0;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        left: 50%;
        position: absolute
    }

        .example-8 .navbar-brand > img {
            height: 100%;
            width: auto;
            padding: 7px 14px
        }
}

.brand-centered .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.navbar-toggle {
    z-index: 1
}

.navbar-alignit .navbar-header {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    height: 50px
}

.navbar-alignit .navbar-brand {
    top: 50%;
    display: block;
    position: relative;
    height: auto;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    margin-right: 15px;
    margin-left: 15px
}

.navbar-nav > li > .dropdown-menu {
    z-index: 9999
}

.menu {
    background: #c03100;
    height: 60px;
    position: relative;
    z-index: 999
}

.menu-bg {
    background: 0 0 !important;
    border-color: transparent !important;
    height: 60px !important
}

.menu-li li a {
    color: #fff !important;
    font-size: 15px !important;
    padding-top: 24px !important
}

    .menu-li li a:hover {
        color: #ffb59b !important
    }

.form-horizontal .margin {
    margin-right: 0 !important;
    margin-left: 0 !important
}

@media(max-width:1680px) {
    @media(max-width:1366px) {
    }

    @media(max-width:991px) {
        .rep_capcha input {
            width: 43% !important;
            font-size: 25px !important
        }

        .form-bottom {
            padding: 30px 15px 35px
        }

        .sm-margin-five-bottom {
            margin-bottom: 2% !important
        }

        .sm-text-center {
            text-align: center !important
        }

        .padding-0 {
            padding: 0 !important
        }

        .boder-0 {
            border: 0 !important
        }
    }

    @media(max-width:767px) {
        .menu-bg {
            background-color: #c03100 !important;
            border-color: transparent !important
        }

        .inner-bg {
        }

        .menu-li li a {
            color: #fff !important;
            background-color: #c03100 !important;
            border-bottom: 1px solid #ab2e2e !important;
            padding-top: 12px !important
        }
    }

    @media(max-width:415px) {
        h1, h2 {
            font-size: 32px
        }
    }
}
