.t-header{
    height: 70px;
    background-color: rgba(10, 15, 72, 0.9);
}
.t-header .t-icons-logo img{
    /*margin-top: 8px;*/
}
.user-xu{
    margin: -55px 0 20px 0;
}

.callout {
    border-radius:3px;
    margin:0 0 20px 0;
    padding:15px 30px 15px 15px;
    border-left:5px solid #eee;
}
.callout a {
    color:#aa065a;
    text-decoration:none;
}
.callout a:hover {
    color:#eee
}
.callout h4 {
    margin-top:0;
    font-weight:600
}
.callout p:last-child {
    margin-bottom:0
}
.callout code,
.callout .highlight {
    background-color:#fff
}
.callout.callout-danger {
    border-color:#c23321
}
.callout.callout-warning {
    border-color:#c87f0a
}
.callout.callout-info {
    border-color:#0097bc
}
.callout.callout-success {
    border-color:#00733e
}

.callout.callout-danger,
.callout.callout-warning,
.callout.callout-info,
.callout.callout-success{
    color:#fff !important
}
.callout.callout-danger {
    background-color:#dd4b39 !important
}
.callout.callout-warning{
    background-color:#f39c12 !important;
}
.callout.callout-info{
    background-color:#00c0ef !important
}
.callout.callout-success{
    background-color:#00a65a !important
}

.t-footer{
    padding-top: 10px;
    padding-bottom: 10px;
}

.boxinfo .title{
    box-shadow:2px 3px 3px rgba(0, 0, 0, 0.2);
}